# Ignore selected files.

# DS Store.
.DS_Store

# Plotly (Work In Progress)
Cleaned_geographic_Data.json

Cleaned_geographic_Data_column_array.json

# Database pass.
config.py

# Copy
Geographic_Data_BEA_Supervised_ML_V3-Copy1.ipynb