# Ignore selected files.

# DS Store.
.DS_Store

# Database pass.
config.py

# Machine Learning Backup.
Geographic_Data_BEA_Supervised_ML_V3-BACKUP.ipynb

# Tableau Workbook.
Great_Resignation_Dashboard.twb